<h1>This is the Thanks Page</h1>

<p>Here is what you submitted:</p>

<p>First Name: <%= params[:name_first] %></p>
<p>Last Name: <%= params[:name_last] %></p>
<p>Email: <%= params[:email] %></p>
<p>Message: <%= params[:message] %></p>
