/********************************** Welcome Page **********************************/

.welcome_page_1{
	text-align: center;
	font-size: 28px;
	font-weight: bold;
	/*color: rgb(0, 0, 255);*/
	/*text-decoration: underline;*/
	/*font-family: 'Rouge Script', cursive;*/
}

/**********************************************************************************/
.backimg{
	background-image: url("/assets/tan_wallpaper.jpg");
	background-size: 100%;
}
.page_header_joint{
	display: block;
	background-color: lightyellow;
	border-style: solid;
	border-width: 3px;
	border-color: darkblue;
	box-shadow: 5px 5px 5px #888888;
	margin: 0 auto;
	text-align: center;
	color: rgb(0, 0, 255);
	font-weight: bold;
}
.page_header1{
	padding: 32px 0 32px 0;
	width: 100%;
	-webkit-text-stroke-width:1px;
	-webkit-text-stroke-color:black;
	/*font-family: 'Rouge Script', cursive;*/
	font-style: italic;
	font-size: 48px;
}
.post_align1{
	text-align: center;
	font-size: 42px;
	font-weight: bold;
	text-decoration: underline;
	color: rgb(0, 0, 255);
}
.labelStyle1{
	color: blue;
	font-family: 'Wallpoet', cursive;
	font-size: 28px;
}
.labelStyle2{
	font-family: 'Wallpoet', cursive;
	font-size: 22px;
}
.labelStyle3{
	font-family: 'Wallpoet', cursive;
	font-size: 26px;
}
.labelUnderline{
	text-decoration: underline;
}
.fieldStyle1{
	font-size: 22px;
	vertical-align: middle;
}
.fieldStyle2{
	width: 300px;
}
.fieldStyle3{
	transform: scale(1.5)
}
.fieldStyle4{
	margin-top: 20px;
	margin-right: 20px;
	font-size: 22px;
	width: 570px;
}
.fieldWidth1{
	width: 197px;
}
.fieldWidth2{
	width: 252px;
}
.buttonStyle1{
	background-color: lightyellow;
	font-size: 18px;
	color: rgb(0, 0, 255);
	font-style: italic;
}
.indent1{
	padding-left: 500px;
}
.indent2{
	padding-left: 30px;
}
.indent3{
	padding-left: 150px;
}
.indent4{
	padding-right: 70px;
}
.indent5{
	padding-right: 62px;
}
.indent6{
	padding-right: 52px;
}
.indent7{
	margin-left: 65px;
}
/*.required_field{
	color: red;
}*/
.post {
	border: 2px solid black;
	margin-top: 25px;
	margin-bottom: 25px;
	padding-left: 15px;
	padding-right: 15px;
}

.notice {
	color: blue;
	border: 2px solid blue;
	margin-top: 25px;
	margin-bottom: 25px;
	padding: 10px;
}
/****************************** Dropdown Menu ******************************/
.dropdown {
	position: absolute;
	display: inline-block;
	width: 75px;
	height: 70px;
	top: 37px;
	right: 30px;
}
.hamburgerMenu {
	position: relative;
	width: 75px;
	height: 7px;
	background-color: black;
	margin: 10px 0;
	border-radius: 8px;
}
/* The container <span> - needed to position the dropdown content */
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: block;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	background-color: #f9f9f9;
	text-align: center;
	border-style: solid;
	border-width: 1px;
	border-color: darkblue;
	width: 75px;
	transition: opacity 1s;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	visibility: visible;
	opacity: 1;
	transition: visibility 1s;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
/*	background-color: #98FB98;*/ /* light green */
/*	background-color: #98C9FB;*/ /* light blue */
	background-color: #BBDAFA; /* lighter blue */
}
/* Links inside the dropdown */
nav>li {
	display:block;
	float:right;
	clear:both;
	-webkit-transition:all 1s;
	-moz-transition:all 1s;
	position:relative;
	text-align:center;
	border-style: solid;
	border-width: 1px;
	border-color: darkblue;
}
nav{
	-webkit-transition:all 1s;
	-moz-transition:all 1s;
}
nav>li>a{
	background-color: #f9f9f9;
	color:#666;
	padding:10px 0px;
	width:75px;
	display:block;
	-webkit-transition:all 1s;
	-moz-transition:all 1s;
}
nav nav{
	position:absolute;
	left:0px;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
nav>li:hover>a {
	color:#000;
	background-color: #f9f9f9;
}
div>nav>li>nav>li>a{
	width:77px;
}
div>nav>li#ws>nav>li>a{
	display: none;
}
/* Show the dropdown sub-menu on hover */
div>nav>li#ws:hover>a {
	width: 165px;
}
div>nav>li#ws:hover>a,
div>nav>li#ws:hover>nav>li>a{
	left: 0px;
	display: block;
}
div>nav li:hover nav{
	position:absolute;
	left: 0px;
}
div>nav li:hover nav li a{
	height:20px;
	padding:10px 5px 9px 5px;
}

/****************************** Dropdown Menu ******************************/



